/* ==UserStyle==
@name           vers.social Dark Theme
@namespace      github.com/IdioticBuffoonery/Browser-Styles-and-Scripts/tree/main/stylus/vers.social
@version        1.4.0
@description    Dark mode for Vers.Social
@author         HBIDamian
==/UserStyle== */
@-moz-document url-prefix("https://vers.social/@"),
url("https://vers.social/"),
url("https://vers.social/login"),
url("https://vers.social/home"),
url("https://vers.social/meditate"),
url("https://vers.social/notifications"),
url("https://vers.social/pro"),
url("https://vers.social/wellness"),
url("https://vers.social/profile-settings"),
url-prefix("https://vers.social/post-office"),
url-prefix("https://vers.social/distraction-free"),
url-prefix("https://vers.social/letter/") {

	html,
	body {
		background-color: var(--main-dark-color) !important;
		scroll-behavior: smooth;
		overflow-x: hidden;
	}

	div[class="post"],
	div[class="profile"],
	div[class="card"],
	div[class="card center"],
	div[class="card meditate center"],
	div[class="user"],
	div[id="popup"],
	div[class="notification"],
	div[class="post single"],
	div[class="blogPost"],
	textarea[name="status"],
	textarea[name="comment"],
	div[id="editor"],
	div[class="badges"] div {
		background-color: var(--secondary-dark-color) !important;
	}

	/*CodeMirror Editor*/
	div[class="editor-toolbar"] {
		background: var(--secondary-dark-color) !important;
		border: none;
	}

	div[class^="editor-preview"] {
		background: var(--secondary-dark-color) !important;
		border: none;
	}

	div[class="editor-toolbar"]:hover {
		filter: unset !important;
	}

	div[class="editor-toolbar"] a {
		background: var(--main-color);
		color: var(--main-text-color) !important;
	}

	div[class="editor-preview editor-preview-active"] pre {
		background: var(--main-dark-color);
	}

	div[class="editor-toolbar"] a:hover {
		background: var(--main-color) !important;
		filter: brightness(1.5);
	}

	div[class="editor-toolbar"] a.active {
		background: var(--main-color) !important;
		filter: brightness(0.5);
	}

	div[class="CodeMirror-cursor"],
	div[class="CodeMirror-cursors"] {
		border-left: 1px solid white !important;
	}

	div[class^=CodeMirror] {
		background: var(--secondary-dark-color);
		border: none;
	}

	/*End CodeMirror Editor*/
	input#synchronizationFrequency,
	input[type="text"],
	input[type="date"],
	select,
	option,
	textarea#profileBioInput,
	pre {
		background-color: var(--main-dark-color);
	}

	a,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	span,
	pre,
	div[class="pronouns"],
	div[class="comments"],
	div[class="comment_body"],
	div[id="editor"],
	textarea,
	table,
	input,
	select {
		color: var(--main-text-color) !important;
	}

	div[class="postBody"] a {
		color: var(--main-color) !important;
	}

	div[class="card lettercard"] {
		filter: invert(1);
	}

	p.likedBy a,
	div.postBody a {
		color: var(--main-color) !important;
	}

	.comments .comment_body {
		background-image: unset;
	}

	/*Make shadow nicer*/
	div[class="badgeIcon"] {
		box-shadow: var(--main-color) 0px 0px 20px !important;
	}

	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	::-webkit-scrollbar-corner {
		background: var(--secondary-color);
		height: unset;
		width: unset;
	}

	::-webkit-scrollbar-track {
		background: var(--secondary-color);
	}

	::-webkit-scrollbar-thumb {
		background: var(--third-color);
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--hover-color);
	}

	:root {
		--main-color: #995fa3;
		--hover-color: #b78fbe;
		--secondary-color: #7c4984;
		--third-color: #512957;
		--link-color: #e966ff;
		--main-dark-color: #1e1e1e;
		--secondary-dark-color: #333;
		--main-text-color: #fff;
	}
}

@-moz-document url("https://vers.social/meditate") {
	body {
		background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://source.unsplash.com/random/1000×1000/?nature,tranquil,peaceful,sky,trees,mountains,flowers,ocean,beach") !important;
	}
}
