/* ==UserStyle==
@name           vers.social Dark Theme
@namespace      github.com/IdioticBuffoonery/stylus/vers.social
@version        1.0.3
@description    My own personal Dark Mode for Vers Social
@author         HBIDamian
==/UserStyle== */
@-moz-document url-prefix("https://vers.social/@"), url("https://vers.social/"), url("https://vers.social/home"), url("https://vers.social/meditate"), url("https://vers.social/notifications"), url("https://vers.social/pro"), url("https://vers.social/wellness"), url("https://vers.social/profile-settings"), url-prefix("https://vers.social/post-office"), url-prefix("https://vers.social/distraction-free"), url-prefix("https://vers.social/letter/") {
	html, body {
		background-color: #1e1e1e !important;
		scroll-behavior: smooth;
		overflow-x: hidden;
	}


	div[class="verified"] {
		overflow-y: hidden !important;
	}

	div[class="post"],
	div[class="profile"],
	div[class="card"],
	div[class="card center"],
	div[class="user"],
	div[id="popup"],
	div[class="notification"],
	div[class="post single"],
	div[class="blogPost"] {
		background-color: #333 !important;
	}

	/*h1, h2, h3, h4, h5, h6, span, div[class="post"], a, div[class="pronouns"], textarea, input, * {
		color: white !important;
	}*/
	h1, h2, h3, h4, h5, h6, span, p, a, div[class="pronouns"], div[class="comments"], div[class="comment_body"], textarea, input {
		color: white !important;
	}

	div[class="postBody"] a {
		color: #995fa3 !important;
	}

	div[class="card lettercard"] {
		filter: invert(1);
	}

	p.likedBy a {
		color: #e966ff !important;
	}

	.comments .comment_body {
		background-image: unset;
	}

	/* width */
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	::-webkit-scrollbar-corner {
		background: #995fa3;
		height: unset;
		width: unset;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #995fa3;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #e966ff;
		border-radius: 10px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #b78fbe;
	}
}
