/* ==UserStyle==
@name         OneDrive Dark Mode
@namespace    github.com/IdioticBuffoonery/stylus/OneDrive
@version      0.0.5
@description  Dark mode for the online version of OneDrive
@author       HBIDamian
==/UserStyle== */
@-moz-document url-prefix("https://onedrive.live.com/?") {

	/*
	TODO:

	- Help Section / Setting Section / Profile Section.
	- "OneDrive Plans and Upgrades" page.
	- Recycle Bin page.
	- Recent page.
	- Apps button -> All Apps
	- A few other small odities on the main page.
	- Make use of var() class to make it easier to keep a consistent colour palette.
	- Try comment things more... like that's ever gonna happen. 😂
	*/
	
	body,
	html {
		background-color: #151515;
	}

	div[data-automationid="main-left-nav"] {
		background-color: #212121 !important;
	}

	div[class="od-DetailsPaneWrapper isFluent"] div {
		background-color: #212121 !important;
		color: #bbb;
	}

	div div[class="od-ItemActivityList-activity"],
	div[class="od-ItemActivityList-activity"] div {
		background-color: #151515 !important;
	}

	nav[role="navigation"] div {
		color: #bbb !important;
	}

	li[class^="ms-Nav-navItem navItem"] div div div a {
		color: #bbb !important;
	}

	li[class^="ms-Nav-navItem navItem"] div div div a:hover {
		background-color: #151515 !important;
	}

	li[class^="ms-Nav-navItem navItem"] div.is-selected div div a {
		background-color: #333 !important;
	}

	ul[class^="ms-ContextualMenu-list is-open list"] {
		background-color: #212121 !important;
		color: cyan !important;
	}

	ul[class^="ms-ContextualMenu-list is-open list"] li button:hover {
		background-color: #151515 !important;
		color: white !important;
	}

	ul[class^="ms-ContextualMenu-list is-open list"] li button {
		color: #bbb !important;
	}

	div[data-automationid="ItemTile"],
	div[role="menubar"],
	button[role="menuitem"],
	div[role="listbox"] div,
	ul[class^="group-"],
	button[class^="submitSuggestion-"],
	form[role="search"] {
		color: white !important;
		background-color: #212121 !important;
	}

	/*below is a hacky way for the search bar */
	div[class^="suggestionContainer"] div div:hover,
	div div[class^="suggestionIconWrapper-"] div[class^="noWrap-"]:hover {
		background-color: #151515 !important;
	}

	div[class="OneUp-carousel"] {
		background-color: #151515 !important;
	}

	button[role="menuitem"]:hover {
		color: #bbb !important
	}

	span[class="od-commandBar-divider"] {
		background-color: #151515 !important;
	}

	div[aria-label="Command bar"],
	.LeftNav-notificationLink,
	.LeftPane-notifications {
		border-color: #151515 !important;
	}

	li[role="separator"] {
		background-color: #151515 !important
	}

	span[id^="Tile-name"] {
		color: #fff !important;
	}

	button[aria-label="More"] {
		color: white !important;
	}

	i[data-icon-name="More"] {
		color: #fff !important;
	}

	li[class^="ms-Breadcrumb-listItem"] div div button:hover {
		background-color: #212121;
		color: white !important;
	}


	/*Microsoft 365 Application Launcher*/
	div[id="appLauncherTop"],
	div[id="appLauncherMainView"] {
		background-color: #212121 !important;
	}

	div[id="appLauncherTop"] div,
	div[id="appLauncherMainView"] div,
	div[id="appsModule"] div h2 {
		color: #bbb !important;
	}


	/*scrollbar I ripped off of W3Schools*/
	::-webkit-scrollbar {
		width: 11px;
	}

	::-webkit-scrollbar-track {
		background: #212121;
	}

	::-webkit-scrollbar-thumb {
		background: #333;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #666;
	}

	::-webkit-scrollbar-corner {
		background: #212121;
	}
}
